<p>Hello @(Model.Intake.Client.FirstName)</p>

<p>Further to your telephone conversation with our office, this is to confirm your in-person meeting on @(Model.DateApptScheduled.ToShortDateString()) @(Model.TimeOfAppt.ToShortTimeString()). Please allow at least 2 hours for the duration of your meeting.</p>

<p>
	We require you to complete our Pre-Interview Questionnaire online which can be found at the following link: 
	<a href="https://www.injurylawyercanada.com/mvaform/index/@(Model.Intake.FileNumber)">https://www.injurylawyercanada.com/mvaform/index/@(Model.Intake.FileNumber)</a>
</p>

<p>
	In order for us to prepare for your appointment, please complete the questionnaire as soon as possible.&nbsp; We will only be able to proceed with the meeting if the questionnaire is submitted at no later than 12:00 PM
	<u>@(Model.DateApptScheduledNextBusinessDay.ToShortDateString()).</u>
</p>
<p>We request that you bring with you as many of the documents that are listed at the end of the web form (once you click on the submit button).&nbsp; You can print that one page document off as a reference.&nbsp;</p>
<p>If you would like to know more of what to expect at the initial client interview, you can click on the video link: <a href="https://www.youtube.com/watch?v=_veRz2lsMB8">https://www.youtube.com/watch?v=_veRz2lsMB8</a>.</p>

<p>Our office address is below and directions to our office are attached.</p>

<p>Please ensure to reply to all recipients.</p>

<p>Thank you kindly,</p>
<p>
	@(Model.Intake.StaffInterviewer.Description)<br />
	Lawyer<br />
	&nbsp;<br />
	Roger R. Foisy Professional Corporation<br />
	Personal Injury Law<br />
	2000 Argentia Road<br />
	Plaza 4, Suite 295<br />
	Mississauga, Ontario L5N 1W1<br />
	&nbsp;<br />
	Tel: 905-286-0050 <br />
	Fax: 905-286-4381<br />
	&nbsp;<br />
	<a href="http://www.injurylawyercanada.com/">www.injurylawyercanada.com</a><br />
	&nbsp;<br />
	This e-mail is intended only for the use of the individual or entity to which it is addressed, and may contain information that is privileged, confidential and exempt from disclosure under applicable law. If the reader of this message
	is not the intended recipient, or the employee or agent responsible for delivering the message to the intended recipient, please destroy the message and be hereby notified that any dissemination, distribution or copying of it is
	prohibited.<br />
	&nbsp;<br />
	This email was sent to you by Roger R Foisy Professional Corporation under our domain name <a href="http://injurylawyercanada.com/">injurylawyercanada.com</a>. If you no longer wish to communicate with us by email, please send us an
	email at <a href="mailto:unsubscribe@injurylawyercanada.com">unsubscribe@injurylawyercanada.com</a> and in the Subject line type UNSUBSCRIBE. We will undertake to remove your email from our database within 10 business days of receipt of
	your email in accordance with Canadian Anti-Spam Legislation (&ldquo;CASL&rdquo;).
</p>